@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(20000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(1000);
$shadows-medium: multiple-box-shadow(800);
$shadows-big: multiple-box-shadow(600);

#stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  transform: translateZ(0);
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   top: 100px;
  //   width: 2px;
  //   height: 2px;
  //   border-radius: 50%;
  //   background: transparent;
  //   box-shadow: $shadows-small;
  // }
}

#stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  transform: translateZ(0);
  box-shadow: $shadows-medium;
  animation: animStar 70s linear infinite;

  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   top: 100px;
  //   width: 2px;
  //   height: 2px;
  //   border-radius: 50%;
  //   background: transparent;
  //   box-shadow: $shadows-medium;
  // }
}
#stars3 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  transform: translateZ(0);
  box-shadow: $shadows-big;
  animation: animStar 30s infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 100px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
