.pagination__btn {
  display: inline-block;
  margin-right: 10px;
  padding: 4px 8px;

  border-radius: 5px;
  border: 1px solid #6ab1d7;
  background-color: white;
  color: #002878;
}

.pagination__btn:hover,
.pagination__btn:focus {
  background-color: #b8ccd6;
  outline: none;
  box-shadow: $focus-box-shadow;
}

.pagination__turning-btn {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  padding: 5px 10px;

  font-size: 10px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: white;

  background-image: $popular-background-image;
  background-position: 100% 0;
  background-size: 200% 200%;
  box-shadow: $popular-box-shadow;
  transition: $transition-duration;

  @include for-size(tablet) {
    width: 100px;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px;
  }
}

.pagination__turning-btn:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.pagination__turning-btn:focus {
  outline: none;
  box-shadow: $focus-box-shadow;
}

.pagination__btn.active {
  border: none;
  color: white;
  background-image: $popular-background-image;
  background-position: 100% 0;
}
