.main {
  background-color: $primary-bg-color;
  color: $title-text-color;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  &__search-form {
    display: inline-block;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    cursor: text;
    outline: none;

    @media (min-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .form__control {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: $title-text-color;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 575px) and (max-width: 767px) {
      width: 500px;
    }

    @media screen and (min-width: 768px) and (max-width: 1099px) {
      width: 600px;
      font-size: 14px;
    }

    @media (min-width: 1100px) {
      width: 900px;
      font-size: 14px;
    }
  }
}

.gallery {
  padding: 0;

  &__item-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__card-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    .movie {
      &__title {
        font-style: normal;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        width: 300px; //  Захаркодил ширину текста, чтобы не растягивала контейнер

        @media (min-width: 768px) {
          font-size: 14px;
          width: 450px; //  Захаркодил ширину текста, чтобы не растягивала контейнер
        }
      }

      &__genre {
        font-weight: 500;
        color: $accent-color;
        font-size: 12px;

        @media (min-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
