.main {
  background-color: $primary-bg-color;

  &__search-form {
    display: block;
    align-items: center;
    padding: 10px;
    margin-bottom: 24px;
    cursor: text;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.form__control {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: $title-text-color;
}

.gallery {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    &-link {
      text-decoration: none;
      color: currentColor;
      display: inline-block;
    }
    &-img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}
