
.main{
    background-color: $primary-bg-color;

    &__search-form {
    display: inline-block;
    align-items: center;
    padding: 8px;
    margin-bottom: 24px;
    }

    .form__control {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $title-text-color;

    @media (min-width: 575px) {
      font-size: 18px;
    }

    @media (min-width: 769px) {
      font-size: 20px;
    }
  }

  &__container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
}

.gallery {
    &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width: 767px) {
       text-align: center;
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
    
   &__item {
            
        @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
        }
    
        &-link {
            text-decoration: none;
            color: currentColor;
            display: inline-block;
        }
        &-img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}