.header {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), #0d121e),
    url('../../images/header-mobile.jpg');
  @include for-size(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), #0d121e),
      url('../../images/header-tablet.jpg');
  }
  @include for-size(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), #0d121e),
      url('../../images/header-desktop.jpg');
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 5px;
    background-color: lightseagreen;
    animation: animate-border 10s infinite;
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  // font-weight: 500;
  // font-size: 12px;
  // line-height: 14px;
  // color: #ffffff;
  cursor: pointer;

  &-title {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 5px;
    color: lightseagreen;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.7em;
    outline: none;
    animation: animate 4s linear infinite;
  }
}

.running__strokes {
  display: flex;
  justify-content: space-around;
}
.header__item.current .header__item-title {
  //test animation active
  position: relative;
  animation: none;
  color: #ffebee;
  text-shadow: 0 0 10px #ff1744, 0 0 20px#ff1744, 0 0 40px #ff1744,
    0 0 80px #ff1744, 0 0 160px #ff1744;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0px;
  //   height: 4px;
  //   width: 100%;
  //   border-radius: 2px;
  //   background-color: $accent-color;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
}
.header__item:last-child {
  margin-left: 40px;
}
.header__item:first-child {
  margin-right: auto;
}

.header__logo {
  width: 10px;
}
//test animation to main text
.header__logo-text {
  margin-left: 10px;
  font-size: 25px;
  letter-spacing: 5px;
  color: lightseagreen;
  width: 100%;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.7em;
  outline: none;
  animation: animate 4s linear infinite;
}

.header__logo-text {
  margin-left: 10px;
  font-size: 25px;
  letter-spacing: 5px;
  color: lightseagreen;
  width: 100%;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.7em;
  outline: none;
  animation: animate 4s linear infinite;
}
//runtext
.header__runtext {
  margin-left: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  color: lightseagreen;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  animation: animate-runtext 4s linear infinite;
  transition: all $transition-duration $timing-function;
  animation-delay: 2s;
  line-height: 0.5em;

  &:hover,
  &:active {
    animation: none;
    color: #ffebee;
    text-shadow: 0 0 4px #ff1744, 0 0 4px#ff1744, 0 0 8px #ff1744,
      0 0 8px #ff1744, 0 0 10px #ff1744;
  }
}

.marquee {
  display: flex;
  align-items: center;
  height: 30px;
}

.header__logo-text.is-hidden {
  display: none;
}
